body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.top-section {
  color: white;
  margin: auto;
  padding: 60px 30px;
  width: 1050px;
}

.top-bg {
  background-color: #f0316a;
}

.top-section-style {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section-style h1 {
  margin: 0;
  padding: 0px 10px;
  font-size: 50px;
  font-weight: 700;
  border: 5px solid white;
}
.top-section-style p {
  font-size: 16px;
  margin: 12px 0 0 0;
}
/* ============================================================= */
.wrapper-care {
  display: flex;
  width: 1050px;
  margin: auto;
  gap: 30px;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.care-section {
  padding-top: 30px;
  padding-bottom: 60px;
}

.care h3 {
  text-align: center;
}

.care img {
  width: 40px;
  margin: auto;
  display: block;
}
/* ============================================================= */
.service-section {
  background-color: #e9e9e9;
  padding: 70px 0;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  width: 1050px;
  margin: auto;
  gap: 30px;
}

.service {
  background-color: white;
  padding: 25px;
  box-shadow: 9px 9px 11px grey;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

p {
  font-size: 14px;
  margin: 0;
}

.special-service-section {
  background-color: #f0316a;
  padding: 70px 0;
}
